@import url("../Styles/theme.css");
.Recommender{
    display: flex;
    flex-direction: column;
}
.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo-container .logo{
    height: 50px;
    width: 50px;
}
.Recommender-top{
    margin: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Recommender-top-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.Recommender-top-content input{
    margin-right: 20px;
    width: 300px;
    border: 1px solid var(--primary);
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position: relative;
    color: var(--text);
    line-height: 35px;
    position: relative;
}
.Recommender-top-content input:focus{
    border-color: var(--secondary);
}

.Recommender-top-content div{
    border:1px solid var(--primary);
    font-weight: 500;
    color: var(--primary);
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.Recommender-top-content div:hover{
    background-color: var(--primary);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Recommender-top-content div:active{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
    transform:scale(0.95);
}