:root {
    --primary: #AE62E7;
    --secondary: #95D5B6;
    --tertiary: #BE78F0;
    --shade: #E5B9FD;
    --text: #22285E;
}
.Recommender{
    display: flex;
    flex-direction: column;
}

.Recommender-top{
    margin: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Recommender-top input{
    margin-right: 20px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 5px;
    position: relative;
    background-color: #f6e6ff;
    color: var(--text);
    box-shadow: inset 0 0 10px #d3d3d3;
}
.Recommender-top div{
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    text-align: center;
    cursor: pointer;
}