@import url("../Styles/theme.css");


.Home{
    color: var(--text);
    background-image: url("../Image/landing_bg.svg");
    background-repeat: no-repeat;
    
}
.welcome-wrapper{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome{
    background-color: rgba(255, 255, 255, 0.25);
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    min-width: fit-content;
    min-height: fit-content;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: inset 5px 5px 5px rgba(255, 255, 255, 0.5);
}

.welcome-lft{ 
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-lft .WavyText{
    font-size: 30px;
}
.welcome-rht{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-rht img{
}

.CP{
    font-size: 35px;
    margin-right: 10px;
}
.Lab{
    font-size: 35px;
    color: var(--primary);
}




.home-menu-wrapper{
    width: calc(100% - 100px);
    padding: 50px;
    margin-top: 100px;
}






.upcoming_contest{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.ucLft{
    position: relative;
    z-index: 1;
    width: 30%;
    min-height: 400px;   
    height: 400px; 
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #325FFF;
    color: #fff;
}
.ucRht{
    width: 70%;
}