@import url("../../Styles/theme.css");
.TeamCard {
  width: 400px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;;
  margin: 20px;
}
.TeamName {
  width: 100%;
  background-color: var(--tertiary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 40px;
  color: #fff;
  font-size: 20px;
  font-family: serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.teamMember,
.coach {
  margin: 25px;
  display: block;
  text-decoration: none;
}
.teamMember {
  color: rgb(100, 136, 255);
}
.coach {
  color: rgb(255, 128, 128);
}
