.Post {
  margin: 50px;
}

.PostTitle {
  color: var(--primary);
  text-decoration: none;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  cursor: pointer;
}
.PostContent {
  margin-top: 15px;
  padding: 15px;
  box-shadow: rgba(175, 175, 175, 0.2) 0px 2px 8px 0px;
}

.bottomBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border: 1px solid rgb(151, 179, 255);
  border-radius: 4px;
}
.PostTime {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.PostTime img {
  height: 20px;
  width: 240x;
}
.PostTime span {
  margin: 5px;
}
.PostAuthor {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
}
.PostAuthor a {
  text-decoration: none;
  margin-left: 5px;
  color: var(--primary);
}
.WriteComment {
  margin: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.TextEditor {
  display: flex;
  flex-direction: row;
  width: calc(90% - 150px);
}
.commentButton {
    border:1px solid var(--primary);
    font-weight: 500;
    color: var(--primary);
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
}
.commentButton:hover{
  background-color: var(--primary);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.commentButton:active{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
  transform:scale(0.95);
}