:root {
    --primary: #AE62E7;
    --secondary: #95D5B6;
    --tertiary: #BE78F0;
    --shade: #E5B9FD;
    --text: #22285E;
}
.CFViz{
    display: flex;
    flex-direction: column;
}

.CFViz-top{
    margin: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.CFViz-top input{
    margin-right: 20px;
    width: 300px;
    border: 1px solid var(--primary);
    outline: none;
    border-radius: 20px;
    position: relative;
    color: var(--text);
    padding-left: 10px;
    padding-right: 10px;
}
.CFViz-top input:focus{
    border-color: var(--secondary);
}
.CFViz-top div{
    border:1px solid var(--primary);
    font-weight: 500;
    color: var(--primary);
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    text-align: center;
    cursor: pointer;
}
.CFViz-top div:hover{
    background-color: var(--primary);
    color: #fff;
}
.CFViz-top div:active{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
    transform:scale(0.95);
}